{% extends "base.html" %}


{% block script %}
<script type="text/javascript">
    const socket = io();
    /* at connection, register to get update about theses classes */
    socket.on('connect', function(){
        socket.emit('registerObject', ['RegularPlayer']);
    });
     /* when received update about a Player, just display it */
    socket.on('update', function(msg) {
       var data = JSON.parse(msg.data);
        if (data.hasOwnProperty('currentGame'))
        {
            if (data['currentGame'] != lastgame)
            {
                lastgame = data['currentGame'];
                if (data['currentGame'] != '') {
                    if (data.hasOwnProperty('player1'))
                            player1 = data['player1'];
                    if (data.hasOwnProperty('player2'))
                            player2 = data['player2'];
                    document.getElementById('div_gameheader').innerHTML =
                            'Game ' + data['currentGame'] + ' : ' + player1 + ' Vs ' + player2;
                }
                else {
                    document.getElementbyId('div_gameheader').innerHTML = 'Not playing...'
                }
            }
        }
    });

</script>
{% endblock %}


{% block content %}
    <h2>Page of player {{ playerName }} </h2>

    <div id="div_gameheader">
    Not playing...
    </div>
<br/>

{% endblock %}
