{% macro socketGame(prefix) %}
<script type="text/javascript">
    {% include "game/maps_images.js" %}
    {% include "game/updateGame.js" %}

</script>
{% endmacro %}

{% macro styleGame() %}
<style>
* {
    box-sizing: border-box;
}

#game_content {
    display: grid;
    grid-template-columns: 75% 25%
}

.p-info {
    padding: 20px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

#p1-info {
    border-color: blue;
}
#p2-info {
    border-color: red;
}
#comments {
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    padding: 8px;
    height: 300px;
    overflow-y: scroll;
}
#comments::before{
    content: "Comments : ";
    display: block;
}

</style>
{% endmacro %}

{% macro contentGame() %}
<div id="game_content" style="padding: 25px 15px">
    <canvas style="display:block; margin: 0 auto; width: 95%;" id="game_canvas">
    </canvas>
    <div id="players-info">
        <div id="p1-info" class="p-info"></div>
        <div id="p2-info" class="p-info"></div>
        <div id="comments"></div>
    </div>
</div>
{% endmacro %}