{% extends "base.html" %}
{% from "game/macroGame.html" import socketGame%}

{% block script %}
    <script type="text/javascript">
    const socket = io();
{{ socketGame(gameName,'game_') }}
socket.on('endOfGame', function(msg){
        document.getElementById('endOfGame').innerHTML = msg;
    });
</script>
{% endblock %}

{% block style %}
    <style>
    .arena {
        padding: 0px;
        border: solid #000;
        width: 22px;
        height: 22px;
        background-clip: padding-box;
    }
    </style>
{% endblock %}

{% block content %}
    Game {{ gameName }} : {{ player1|safe }} Vs {{ player2|safe }} &nbsp;&nbsp;&nbsp;&nbsp;<span id="endOfGame"></span>
<br/>
    (fichier de <a href="{{ baseurl }}/../logs/game/{{ gameName }}">log</a>)
    <br/>

<div id="game_content"></div>
<span style="color:#f00">Player 1</span>:&nbsp;</span><span id="game_name0"></span>(<span id="game_counters0"></span>)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="color:#0f0">Player 2</span>:&nbsp;</span><span id="game_name1"></span>(<span id="game_counters1"></span>)
<br/><br/>
    <div id="game_arena"  style="background-color:#fff; float:left;margin-right: 50px;"></div>
<div style="overflow-y: scroll; height:400px; float:right;" id="game_comments"></div>

{% endblock %}
